.App {
  text-align: center;
}

@font-face {
  font-family: 'custom';
  src: "/fonts/PyeongChangPeace-Bold.ttf";
}

@font-face {
  font-family: "inter-black";
  src: "/fonts/Inter-Black.ttf";
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "inter-bold";
  src: url("../public/fonts/Inter-Bold.ttf");
}

@font-face {
  font-family: "inter-extra-bold";
  src: url("../public/fonts/Inter-ExtraBold.ttf");
}

@font-face {
  font-family: "inter-extra-light";
  src: url("../public/fonts/Inter-ExtraLight.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "inter-light";
  src: url("../public/fonts/Inter-Light.ttf");
}

@font-face {
  font-family: "inter-medium";
  src: url("../public/fonts/Inter-Medium.ttf");
}

@font-face {
  font-family: "inter-regular";
  src: url("../public/fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: "inter-semi-bold";
  src: url("../public/fonts/Inter-SemiBold.ttf");
}

@font-face {
  font-family: "inter-thin";
  src: url("../public/fonts/Inter-Thin.ttf");
}


#input1 {
  text-align: center;
  width: 300px;
  height: 50px;
  border: 3px solid black;
  border-radius: 5px;
  /* font-family: 'custom'; */
}


#input2 {
  width: 50px;
  height: 50px;
  border: 3px solid black;
  border-radius: 10px;
  font-family: 'custom';

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
